@font-face {
  font-family: 'app_potes';
  src: url('../fonts/APP_POTES.eot');
  src: url('../fonts/APP_POTES.eot') format('embedded-opentype'),
	  url('../fonts/APP_POTES.woff2') format('woff2'),
	  url('../fonts/APP_POTES.woff') format('woff'),
	  url('../fonts/APP_POTES.ttf') format('truetype'),
	  url('../fonts/APP_POTES.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'lg';
    src: url('../fonts/lg.eot');
    src: url('../fonts/lg.eot') format('embedded-opentype'),
    url('../fonts/lg.woff') format('woff'),
    url('../fonts/lg.ttf') format('truetype'),
    url('../fonts/lg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoUltLtIt.eot');
    src: url('../fonts/TruenoUltLtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoUltLtIt.woff2') format('woff2'),
        url('../fonts/TruenoUltLtIt.woff') format('woff'),
        url('../fonts/TruenoUltLtIt.ttf') format('truetype'),
        url('../fonts/TruenoUltLtIt.svg#Trueno/fonts/TruenoUltLtIt') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoLt.eot');
    src: url('../fonts/TruenoLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoLt.woff2') format('woff2'),
        url('../fonts/TruenoLt.woff') format('woff'),
        url('../fonts/TruenoLt.ttf') format('truetype'),
        url('../fonts/TruenoLt.svg#Trueno/fonts/TruenoLt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoLtIt.eot');
    src: url('../fonts/TruenoLtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoLtIt.woff2') format('woff2'),
        url('../fonts/TruenoLtIt.woff') format('woff'),
        url('../fonts/TruenoLtIt.ttf') format('truetype'),
        url('../fonts/TruenoLtIt.svg#Trueno/fonts/TruenoLtIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoExBdOlIt.eot');
    src: url('../fonts/TruenoExBdOlIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoExBdOlIt.woff2') format('woff2'),
        url('../fonts/TruenoExBdOlIt.woff') format('woff'),
        url('../fonts/TruenoExBdOlIt.ttf') format('truetype'),
        url('../fonts/TruenoExBdOlIt.svg#Trueno/fonts/TruenoExBdOlIt') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBd.eot');
    src: url('../fonts/TruenoBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBd.woff2') format('woff2'),
        url('../fonts/TruenoBd.woff') format('woff'),
        url('../fonts/TruenoBd.ttf') format('truetype'),
        url('../fonts/TruenoBd.svg#Trueno/fonts/TruenoBd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoSBdIt.eot');
    src: url('../fonts/TruenoSBdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoSBdIt.woff2') format('woff2'),
        url('../fonts/TruenoSBdIt.woff') format('woff'),
        url('../fonts/TruenoSBdIt.ttf') format('truetype'),
        url('../fonts/TruenoSBdIt.svg#Trueno/fonts/TruenoSBdIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBlkOl.eot');
    src: url('../fonts/TruenoBlkOl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBlkOl.woff2') format('woff2'),
        url('../fonts/TruenoBlkOl.woff') format('woff'),
        url('../fonts/TruenoBlkOl.ttf') format('truetype'),
        url('../fonts/TruenoBlkOl.svg#Trueno/fonts/TruenoBlkOl') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoRgIt.eot');
    src: url('../fonts/TruenoRgIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoRgIt.woff2') format('woff2'),
        url('../fonts/TruenoRgIt.woff') format('woff'),
        url('../fonts/TruenoRgIt.ttf') format('truetype'),
        url('../fonts/TruenoRgIt.svg#Trueno/fonts/TruenoRgIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBlkIt.eot');
    src: url('../fonts/TruenoBlkIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBlkIt.woff2') format('woff2'),
        url('../fonts/TruenoBlkIt.woff') format('woff'),
        url('../fonts/TruenoBlkIt.ttf') format('truetype'),
        url('../fonts/TruenoBlkIt.svg#Trueno/fonts/TruenoBlkIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoSBd.eot');
    src: url('../fonts/TruenoSBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoSBd.woff2') format('woff2'),
        url('../fonts/TruenoSBd.woff') format('woff'),
        url('../fonts/TruenoSBd.ttf') format('truetype'),
        url('../fonts/TruenoSBd.svg#Trueno/fonts/TruenoSBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoExBdIt.eot');
    src: url('../fonts/TruenoExBdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoExBdIt.woff2') format('woff2'),
        url('../fonts/TruenoExBdIt.woff') format('woff'),
        url('../fonts/TruenoExBdIt.ttf') format('truetype'),
        url('../fonts/TruenoExBdIt.svg#Trueno/fonts/TruenoExBdIt') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoExBd.eot');
    src: url('../fonts/TruenoExBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoExBd.woff2') format('woff2'),
        url('../fonts/TruenoExBd.woff') format('woff'),
        url('../fonts/TruenoExBd.ttf') format('truetype'),
        url('../fonts/TruenoExBd.svg#Trueno/fonts/TruenoExBd') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBdOl.eot');
    src: url('../fonts/TruenoBdOl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBdOl.woff2') format('woff2'),
        url('../fonts/TruenoBdOl.woff') format('woff'),
        url('../fonts/TruenoBdOl.ttf') format('truetype'),
        url('../fonts/TruenoBdOl.svg#Trueno/fonts/TruenoBdOl') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBdIt.eot');
    src: url('../fonts/TruenoBdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBdIt.woff2') format('woff2'),
        url('../fonts/TruenoBdIt.woff') format('woff'),
        url('../fonts/TruenoBdIt.ttf') format('truetype'),
        url('../fonts/TruenoBdIt.svg#Trueno/fonts/TruenoBdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBlkOlIt.eot');
    src: url('../fonts/TruenoBlkOlIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBlkOlIt.woff2') format('woff2'),
        url('../fonts/TruenoBlkOlIt.woff') format('woff'),
        url('../fonts/TruenoBlkOlIt.ttf') format('truetype'),
        url('../fonts/TruenoBlkOlIt.svg#Trueno/fonts/TruenoBlkOlIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoUltLt.eot');
    src: url('../fonts/TruenoUltLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoUltLt.woff2') format('woff2'),
        url('../fonts/TruenoUltLt.woff') format('woff'),
        url('../fonts/TruenoUltLt.ttf') format('truetype'),
        url('../fonts/TruenoUltLt.svg#Trueno/fonts/TruenoUltLt') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoRg.eot');
    src: url('../fonts/TruenoRg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoRg.woff2') format('woff2'),
        url('../fonts/TruenoRg.woff') format('woff'),
        url('../fonts/TruenoRg.ttf') format('truetype'),
        url('../fonts/TruenoRg.svg#Trueno/fonts/TruenoRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBlk.eot');
    src: url('../fonts/TruenoBlk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBlk.woff2') format('woff2'),
        url('../fonts/TruenoBlk.woff') format('woff'),
        url('../fonts/TruenoBlk.ttf') format('truetype'),
        url('../fonts/TruenoBlk.svg#Trueno/fonts/TruenoBlk') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoBdOlIt.eot');
    src: url('../fonts/TruenoBdOlIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoBdOlIt.woff2') format('woff2'),
        url('../fonts/TruenoBdOlIt.woff') format('woff'),
        url('../fonts/TruenoBdOlIt.ttf') format('truetype'),
        url('../fonts/TruenoBdOlIt.svg#Trueno/fonts/TruenoBdOlIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../fonts/TruenoExBdOl.eot');
    src: url('../fonts/TruenoExBdOl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TruenoExBdOl.woff2') format('woff2'),
        url('../fonts/TruenoExBdOl.woff') format('woff'),
        url('../fonts/TruenoExBdOl.ttf') format('truetype'),
        url('../fonts/TruenoExBdOl.svg#Trueno/fonts/TruenoExBdOl') format('svg');
    font-weight: 800;
    font-style: normal;
}
