@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoExBd.eot');
    src: url('../font/TruenoExBd.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoExBd.woff2') format('woff2'),
        url('../font/TruenoExBd.woff') format('woff'),
        url('../font/TruenoExBd.ttf') format('truetype'),
        url('../font/TruenoExBd.svg#TruenoExBd') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoSBdIt.eot');
    src: url('../font/TruenoSBdIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoSBdIt.woff2') format('woff2'),
        url('../font/TruenoSBdIt.woff') format('woff'),
        url('../font/TruenoSBdIt.ttf') format('truetype'),
        url('../font/TruenoSBdIt.svg#TruenoSBdIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBlkIt.eot');
    src: url('../font/TruenoBlkIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBlkIt.woff2') format('woff2'),
        url('../font/TruenoBlkIt.woff') format('woff'),
        url('../font/TruenoBlkIt.ttf') format('truetype'),
        url('../font/TruenoBlkIt.svg#TruenoBlkIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoExBdIt.eot');
    src: url('../font/TruenoExBdIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoExBdIt.woff2') format('woff2'),
        url('../font/TruenoExBdIt.woff') format('woff'),
        url('../font/TruenoExBdIt.ttf') format('truetype'),
        url('../font/TruenoExBdIt.svg#TruenoExBdIt') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBd.eot');
    src: url('../font/TruenoBd.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBd.woff2') format('woff2'),
        url('../font/TruenoBd.woff') format('woff'),
        url('../font/TruenoBd.ttf') format('truetype'),
        url('../font/TruenoBd.svg#TruenoBd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoLt.eot');
    src: url('../font/TruenoLt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoLt.woff2') format('woff2'),
        url('../font/TruenoLt.woff') format('woff'),
        url('../font/TruenoLt.ttf') format('truetype'),
        url('../font/TruenoLt.svg#TruenoLt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoExBdOlIt.eot');
    src: url('../font/TruenoExBdOlIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoExBdOlIt.woff2') format('woff2'),
        url('../font/TruenoExBdOlIt.woff') format('woff'),
        url('../font/TruenoExBdOlIt.ttf') format('truetype'),
        url('../font/TruenoExBdOlIt.svg#TruenoExBdOlIt') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBlkOlIt.eot');
    src: url('../font/TruenoBlkOlIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBlkOlIt.woff2') format('woff2'),
        url('../font/TruenoBlkOlIt.woff') format('woff'),
        url('../font/TruenoBlkOlIt.ttf') format('truetype'),
        url('../font/TruenoBlkOlIt.svg#TruenoBlkOlIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoLtIt.eot');
    src: url('../font/TruenoLtIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoLtIt.woff2') format('woff2'),
        url('../font/TruenoLtIt.woff') format('woff'),
        url('../font/TruenoLtIt.ttf') format('truetype'),
        url('../font/TruenoLtIt.svg#TruenoLtIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBlk.eot');
    src: url('../font/TruenoBlk.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBlk.woff2') format('woff2'),
        url('../font/TruenoBlk.woff') format('woff'),
        url('../font/TruenoBlk.ttf') format('truetype'),
        url('../font/TruenoBlk.svg#TruenoBlk') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBdIt.eot');
    src: url('../font/TruenoBdIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBdIt.woff2') format('woff2'),
        url('../font/TruenoBdIt.woff') format('woff'),
        url('../font/TruenoBdIt.ttf') format('truetype'),
        url('../font/TruenoBdIt.svg#TruenoBdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBdOl.eot');
    src: url('../font/TruenoBdOl.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBdOl.woff2') format('woff2'),
        url('../font/TruenoBdOl.woff') format('woff'),
        url('../font/TruenoBdOl.ttf') format('truetype'),
        url('../font/TruenoBdOl.svg#TruenoBdOl') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoRgIt.eot');
    src: url('../font/TruenoRgIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoRgIt.woff2') format('woff2'),
        url('../font/TruenoRgIt.woff') format('woff'),
        url('../font/TruenoRgIt.ttf') format('truetype'),
        url('../font/TruenoRgIt.svg#TruenoRgIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBdOlIt.eot');
    src: url('../font/TruenoBdOlIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBdOlIt.woff2') format('woff2'),
        url('../font/TruenoBdOlIt.woff') format('woff'),
        url('../font/TruenoBdOlIt.ttf') format('truetype'),
        url('../font/TruenoBdOlIt.svg#TruenoBdOlIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoRg.eot');
    src: url('../font/TruenoRg.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoRg.woff2') format('woff2'),
        url('../font/TruenoRg.woff') format('woff'),
        url('../font/TruenoRg.ttf') format('truetype'),
        url('../font/TruenoRg.svg#TruenoRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoBlkOl.eot');
    src: url('../font/TruenoBlkOl.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoBlkOl.woff2') format('woff2'),
        url('../font/TruenoBlkOl.woff') format('woff'),
        url('../font/TruenoBlkOl.ttf') format('truetype'),
        url('../font/TruenoBlkOl.svg#TruenoBlkOl') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoUltLtIt.eot');
    src: url('../font/TruenoUltLtIt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoUltLtIt.woff2') format('woff2'),
        url('../font/TruenoUltLtIt.woff') format('woff'),
        url('../font/TruenoUltLtIt.ttf') format('truetype'),
        url('../font/TruenoUltLtIt.svg#TruenoUltLtIt') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoSBd.eot');
    src: url('../font/TruenoSBd.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoSBd.woff2') format('woff2'),
        url('../font/TruenoSBd.woff') format('woff'),
        url('../font/TruenoSBd.ttf') format('truetype'),
        url('../font/TruenoSBd.svg#TruenoSBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoUltLt.eot');
    src: url('../font/TruenoUltLt.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoUltLt.woff2') format('woff2'),
        url('../font/TruenoUltLt.woff') format('woff'),
        url('../font/TruenoUltLt.ttf') format('truetype'),
        url('../font/TruenoUltLt.svg#TruenoUltLt') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('../font/TruenoExBdOl.eot');
    src: url('../font/TruenoExBdOl.eot?#iefix') format('embedded-opentype'),
        url('../font/TruenoExBdOl.woff2') format('woff2'),
        url('../font/TruenoExBdOl.woff') format('woff'),
        url('../font/TruenoExBdOl.ttf') format('truetype'),
        url('../font/TruenoExBdOl.svg#TruenoExBdOl') format('svg');
    font-weight: 800;
    font-style: normal;
}


