#content-login,
#content-login section,
#content-login article,
#content-login form,
#modal-login,
#modal-login li{
	display: flex;
}

/* Right Login ----------------------------------------------------------*/
#content-login {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	flex-direction: row;
}

#content-login section {
	min-width: 50%;
	min-height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
}

#content-login article {
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
}

#content-login article h1 {
	margin-top: 145px;
	font-family: 'Trueno';
    font-weight: 600;
    font-style: normal;
	font-size: 5.2vw;
	color: #191919;
}

#content-login form {
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#content-login input {
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 60px;
	border: none;
	border-width: 29.27vw;
	border-bottom: solid 1px #191919;
	background: none;
	font-family: 'Trueno';
    font-weight: 300;
    font-style: italic;
	font-size: 1vw;
	color: #707070;
	outline: none;
}

#content-login #button-form {
	width: 19.16vw;
	min-height: 3.64vw;
	margin-top: 70px;
	border-radius: 100px 100px 100px 100px;
	background-color: #191919;
	 font-family: 'Trueno';
    font-weight: bold;
    font-style: normal;
	font-size: 1vw;
	color: white;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
	
/* anim */
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#content-login #button-form:hover, 
#content-login #button-form:focus, 
#content-login #button-form:active {
	-webkit-transform: scale(1.5);
  transform: scale(1.05);
}

#content-login #open-modal {
	bottom: 0;
	margin: 0 auto;
	font-family: 'Trueno';
    font-weight: 200;
    font-style: normal;
	font-size:  0.78vw;
	color: black;
}

/* Left Slideshow ----------------------------------------------------------*/
#content-login #slideshow {
	-webkit-box-shadow: inset 10px 0px 20px 0px rgba(0,0,0,1);
-moz-box-shadow: inset 10px 0px 20px 0px rgba(0,0,0,1);
box-shadow: inset 10px 0px 20px 0px rgba(0,0,0,1);
}

/* Modal ----------------------------------------------------------*/
#modal-login {
	min-width: 100%; height: 54vw;
	margin: 0;
	padding: 0;
	flex-direction: row;
	justify-content: space-around;
	background-color: #191919;
	color: white;
}

#modal-login h3 {
	font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
	font-size: 1.56vw;
}

#modal-login p,
#modal-login ul li {
	font-family: 'Trueno';
    font-weight: 300;
    font-style: normal;
	font-size: 1vw;
	list-style: none;
}

#modal-login section {
	width: 40%;
	margin: 0;
}

.modal-titre h2 {
	margin: 0 0 10px 0;
	font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
	font-size: 2.6vw;
}

.modal-titre div {
	width: 30px; height: 6px;
	background-color: white;
}

/* liste */
#modal-login ul {
	padding: 0px;
}

#modal-login li {
	align-items: center;
}

#modal-login li div {
	width: 10px; height: 4px;
	margin-right: 10px;
	background-color: white;
}

#modal-login #modal-info {
	bottom: 0;
	text-align: center;
	font-family: 'Trueno';
    font-weight: 300;
    font-style: italic;
	font-size:  0.78vw;
	color: #F2F2F2;
}

/*-----------------------------------------------------
	RESPONSIVE
-----------------------------------------------------*/

@media screen and (max-width: 414px) {
	
	#content-login {
		flex-direction: column;
	}
	
	#content-login section {
		width: 100%; min-height: 50%;
	}
	
	#content-login #login {
		order: 2;
	}
}