/* CSS Document */
/* HEADER ALBUM */
#content-pic {
	margin-left: 10.10vw;
	display: flex;
	flex-direction: column;
}

#header-pic {
	width: 100%; height: 21.61vw;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	border: none;
	border-bottom: solid 3px;
	font-family: 'Trueno';
    font-weight: 300;
    font-style: normal;
	font-size: 1.04vw;
	color: white;
}

#header-pic img {
	width: 100%; height: 100%;
	position: absolute;
	object-fit: cover;
}

#header-pic div {
	z-index: 10;
	margin-left: 3.75vw;
	margin-bottom: 4.42vw;
}

#header-pic p:first-child {
	font-size: 0.625vw;
}

#header-pic span {
	font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
}

#header-pic h1 {
	margin: 0;
	font-family: 'Trueno';
    font-weight: 600;
    font-style: normal;
	font-size: 3.64vw;
}

#header-pic p {
	max-width: 60.88vw;
}

/* ombres textes */
#header-pic span, #header-pic h1, #header-pic p {
	text-shadow: 0px 3px 6px rgba(0,0,0,0.45);
}

#header-pic button {
	width: 14.11vw; height: 3.69vw;
	margin-right: 5.05vw;
	margin-bottom: 1.71vw;
	border: none;
	border-radius: 10px;
	font-family: 'Trueno';
    font-weight: 300;
    font-style: normal;
	font-size: 0.78vw;
	color: white;
	background-color: #1D1D1D;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
}

/* CONTENT PHOTOS */
#grid-pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#grid-pic .reveal {
	width: 6.1vw; height: 6.1vw;
	margin: 3vw 0 50px 0;
	padding: 1px;
	text-align: center;
	font-family: 'Trueno';
    font-weight: 200;
    font-style: normal;
	font-size: 0.78vw;
	border-radius: 100px;
	background: rgba(142,197,252,1);
	background: -moz-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(142,197,252,1)), color-stop(100%, rgba(224,195,252,1)));
	background: -webkit-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: linear-gradient(135deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec5fc', endColorstr='#e0c3fc', GradientType=1 );
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
}

/* GALLERY PHOTOS */
.demo-gallery ul {
	padding: 0 10px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.demo-gallery > ul > li {
	margin: 10px;
}

.demo-gallery > ul > li a {
	margin: auto 0;
}

.demo-gallery > ul > li a > img {
	height: 25vw;
	width: 25vw;
	object-fit: contain;
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.demo-gallery > ul > li a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
	height: 48px;
	margin-left: -24px;
	margin-top: -24px;
	opacity: 0.8;
	width: 48px;
}
.demo-gallery.dark > ul > li a {
	border: 3px solid #04070a;
}

/*
	LIGHTBOX
*/
/* bouton partage */
#lg-share {display: none;}
/* Thumbails */
.lg-outer .lg-thumb-item {
	border: none;
	border-radius: 0px;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
	border-color: #FFFFFF;
}

