/* CSS Document */
/*---------------------------------------------------------------------------------------------------
	1ERE RUPTURE : 1200px
---------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {

    /* NAV BARRE */
    nav  {
        margin: 0 auto;
    }

    nav ul span {
        display: none;
    }
}

/*---------------------------------------------------------------------------------------------------
	MOBILE : 414px
---------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 414px) {

}