/* CSS Document */

/*-----------------------
	GENERAL STYLE
------------------------*/
body {
	background-color: #191919;
}

main {
	margin-left: 14.11vw;
}

a {
	color: white;
	text-decoration: none;
}

p {
	margin: 0px;
}

/* EFFECT */
#add-menu a,
.album,
.even,
.content-cagn button,
#header-pic button {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#add-menu a:hover, #add-menu a:focus, #add-menu a:active,
.icon:hover, .icon:focus, .icon:active,
.album:hover, .album:focus, .album:active,
.even:hover, .even:focus, .even:active,
.content-cagn button:hover, .content-cagn button:focus , .content-cagn button:active,
#header-pic button:hover, #header-pic button:focus, #header-pic button:active {
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*-----------------------
	ICON FONTS
------------------------*/
.icon {
  display: inline-block;
  font: normal normal normal 32px/1 'app_potes';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: white;
}
/*--------------------------------------------------------------------
	HOMEPAGE
------------------------*/
#content-home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#content-home section {
	width: 25.26vw; height: auto;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-section {
	margin: 2vw 0 1.95vw 0;
}

h2 {
	margin-right: 2.13vw;
	font-family: 'Trueno';
    font-weight: 600;
    font-style: normal;
	font-size: 3.64vw;
	color: white;
}

.icon-arrow-26::before {
	content: "\ea09";
	font-size: 3vw;
}

.icon-arrow-26 {
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/*-----------------------
	SECTION ALBUMS
------------------------*/
.album {
	margin-bottom: 5.2vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
	font-size: 1.04vw;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
}

.album img {
	width: 100%; height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.album p {
	margin-top: 0.67vw;
	margin-left: 5px;
}

#album-com {
	width: 25.26vw; height: 10.26vw; 
}

.grid-album {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.album-grid { width: 11.14vw; height: 11.14vw; }

/*-----------------------
	SECTION EVENEMENTS
------------------------*/
.even {
	width: 25.37vw; height: 5.1vw;
	margin-bottom: 2.6vw;
	padding: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: rgba(142,197,252,1);
	background: -moz-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(142,197,252,1)), color-stop(100%, rgba(224,195,252,1)));
	background: -webkit-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: linear-gradient(135deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec5fc', endColorstr='#e0c3fc', GradientType=1 );
}

.even p {
	margin: 0px; 
	padding: 0px;
}

.content-even {
	width: 25.36vw; height: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	background-color: #1C1C1C;
}

/* emoji */
.content-even span {font-size: 2.5vw;}

h6 {
	margin: 0 0 0.45vw 0;
	padding: 0;
	font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
	font-size: 1.35vw;
}

.desc-even {
	width: 15.15vw;
	font-family: 'Trueno';
    font-weight: 200;
    font-style: normal;
	font-size: 0.78vw;
}

.date-even {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Trueno';
    font-weight: 300;
    font-style: normal;
	font-size: 0.625vw;
}

.date-even span {
	margin-top: 1vw;
	font-size: 1.04vw;
}

/*-----------------------
	SECTION CAGNOTTES
------------------------*/
.content-cagn {
	margin-right: 1.56vw;
	margin-bottom: 3vw;
	padding-bottom: 1.4vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	border: none;
	border-bottom: solid 0.15vw #FFFFFF;
}

.content-cagn p {
	margin: 0px;
	padding: 0px;
}

h5 {
	margin: 0 0 1.04vw 0;
	padding: 0;
	font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
	font-size: 1.82vw;
}

.desc-cagn {
	width: 14.5vw;
	font-family: 'Trueno';
    font-weight: 200;
    font-style: normal;
	font-size: 0.78vw;
}

.prix-cagn {
	text-align: right;
	font-family: 'Trueno';
    font-weight: 200;
    font-style: normal;
	font-size: 0.78vw;
}

.prix-cagn span {
	text-align: right;
	font-family: 'Trueno';
    font-weight: normal;
    font-style: normal;
	font-size: 2.08vw;
}

.prix-cagn p span {
	font-family: 'Trueno';
    font-weight: 300;
    font-style: normal;
	font-size: 0.78vw;
}

.content-cagn button {
	width: 10.10vw; height: 2.18vw;
	margin: 1.04vw 0 0 0;
	border-radius: 100px;
	border: none;
	font-family: 'Trueno';
    font-weight: 600;
    font-style: normal;
	font-size: 1.04vw;
	color: white;
	background: rgba(142,197,252,1);
	background: -moz-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(142,197,252,1)), color-stop(100%, rgba(224,195,252,1)));
	background: -webkit-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	background: linear-gradient(135deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec5fc', endColorstr='#e0c3fc', GradientType=1 );
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,1);
box-shadow: 0px 3px 10px 0px rgba(0,0,0,1);
}

/*---------------------------------------------------------------------------------------------------
	PAGES EVENEMENTS / CAGNOTTES
---------------------------------------------------------------------------------------------------*/
.grid-gen {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-wrap: wrap;
}

.grid-even {
	width: 56.66vw;
}

.grid-even button .even {
	width: 25.37vw; height: 5.1vw;
	border : none;
	border-radius: 10px;
	color: #707070;
	background-color: #1D1D1D;
}
