/* CSS Document */
header {
	width: 10.15vw; height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Trueno';
    font-weight: 200;
    font-style: normal;
	font-size: 0.78vw;
	color: #F2F2F2;
	background-color: #191919;
	-webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,1);
-moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,1);
box-shadow: 3px 0px 10px 0px rgba(0,0,0,1);
}

nav {
	margin-top: 51px;
}

nav ul {
	padding: 0;
	list-style: none;
}

a .icon {
	margin-right: 13px;
	font-size: 2vw;
}

.icon-home::before {content: "\ea12";}
.icon-pic::before {content: "\ea16";}
.icon-calendar::before {content: "\ea09";}
.icon-cash::before {content: "\ea0a";}
.icon-people::before {content: "\ea15";}


#button-add {
	bottom: 0;
}

nav li {
	margin-bottom: 50px;
}

nav a {
	display: flex;
	align-items: center;
}
